      </div>
            <div id="footer" class="page_footer">
                <div class="">
                    <div class="row">
                        <div class="col-sm-4 footer_left">
                            © 2015 Customer Center. All Rights Reserved.
                        </div>
                        <div class="col-sm-4 footer_left footer_middle">
                            Call now: +92 303 058 2302 <br> Email: owaiskiani65@gmail.com
                        </div>
                        <div class="col-sm-4 footer_left footer_right">
                    	<div class="social_icons_wrapper">
                            <a class="icon facebook" target="_blank" href="https://www.facebook.com/Go.To.Hell.I.Dont.Care"><span class="zocial-facebook"></span></a>
                            <a class="icon twitter" target="_blank" href="https://twitter.com/owaiskiani65"><span class="zocial-twitter"></span></a>
                            <a class="icon linkedin" target="_blank" href="https://www.linkedin.com/profile/view?id=193359761"><span class="zocial-linkedin"></span></a>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
