<!DOCTYPE html>
</html>
    <head>
        <title>Contoh CRUD Node.js-MySQL</title>
        <link href="/../css/bootstrap.css" rel="stylesheet">
        <link href="/../css/style.css" rel="stylesheet">
        <link href="/../css/social_icons.css" rel="stylesheet">
        
        <script type="text/javascript" src="/../js/jquery.js"></script>
        <script type="text/javascript" src="/../js/bootstrap.js"></script>
        <script type="text/javascript" src="/../js/all.js"></script>
    </head>
    <body>
        <header class="navbar">
        <div class="container">
            <div class="navbar-default" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <div class="logo">
                            <a id="site_logo" class="navbar-brand" href="/" rel="home">
                                <img src="/../images/logo.png" alt="logo.png">
                            </a>
                        </div>
                    </div>
                    <div class="logout">
                        <a href="/logout">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
        <div id="wrapper">
            <div class="page-header"><h2><%=page_title%></h2></div>
            <div class="page-container">
