<%- include layouts/header.ejs %>
        <div class="page-data">
            
            <% if (message) { %>
                <p class="errorMessage" id="errorMessage">
                    <%= message %>
                </p>
            <% } %>
            <form method="post" action="/customers/changepassword" class="loginForm">
                <table cellpadding="11">
                    <tr>
                        <td class="label">New Password: </td>
                        <td><input type="password" name="pswd" required><span>*</span></td>
                    </tr>
                    <tr>
                        <td class="label">Repeat Password: </td>
                        <td><input type="password" name="rpeatPswd" required><span>*</span></td>
                     </tr>
                    <tr>
                        <td class="label"></td>
                        <td>
                            <input type="submit" name="submit" value="Change Password">
                            <p style="float: left;line-height: 36px;margin: 0px 16px;"> Or </p>
                            <a style="float:left;line-height: 36px;" href="/customers/profile">Cancel</a>
                        </td>
                     </tr>
                </table>
            </form>
        </div>
        
<%- include layouts/footer.ejs %>
