<%- include layouts/header.ejs %>
        <div class="page-data">
            <% if (message) { %>
                <p class="errorMessage" id="errorMessage">
                    <%= message %>
                </p>
            <% } %>
            <div class="data-btn">
                <h1>Any Content Here.</h1>
            </div>
        </div>
<%- include layouts/footer.ejs %>
