<%- include layouts/head.ejs %>
        <div class="page-data">
            
            <% if (message) { %>
                <p class="errorMessage" id="errorMessage">
                    <%= message %>
                </p>
            <% } %>
            <form method="post" action="/lostpassword" class="loginForm" id="lostpasswordForm">
                <table cellpadding="11">
                    <tr>
                        <td class="label">Email: </td>
                        <td><input type="text" name="email" required><span>*</span></td>
                    </tr>
                    <tr>
                        <td class="label"></td>
                        <td>
                            <input type="submit" name="submit" value="Get New Password">
                        </td>
                     </tr>
                </table>
            </form>
            <hr>
            <div class="need_account">
                <p><a href="/login">Login</a></p>
            </div>
        </div>
        
<%- include layouts/footer.ejs %>
