
*{

    border-radius:0px;
}
a {
  color: #00B7FF;
}
.navbar-header{
    width: 30%;
    float: left;
}
.navbar-nav > li > a{
    color : #fff;
}
.active{
    background-color: #ddd;
    color: #00B7FF;
}
.navbar-nav .active a{
    color: #00B7FF;
}
.navbar-nav > li > a:hover{
    color : #00B7FF;
}
#site_logo a{
    width: 100%;
    float: left;
}
#site_logo{
    width: 100%;
    
}
#site_logo img{
    float: left;
}
form table{
    width: 30%;
}
form table tr{
    padding: 5px 0 !important;
    float: left;
    width: 100%;
}
#site_logo span{
    float: left;
    margin: 15px 0;
    margin-left: 9px;
}
#wrapper{
    margin-top:30px;
    width:90%;
    margin-left:5%;
    border:1px solid #ddd;
    background:#fff;
    float: left;
}
.loginForm .twoButton{
    margin: 5px 10px;
    color: black;
    font-size: 16px;
    float: left;
}
.page-container{
    padding: 0 20px 20px 20px;
    float: left;
    width: 100%;
}
hr{
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
    float: left;
    width: 100%;
}
.page-data{
    padding:20px 10px 10px 10px;
    float: left;
    width: 100%;
}
.page-container .page-title{
    text-align: left;
    width: 45%;
}
.page-container .add-button{
    text-align: right;
    float: right;
    margin: 14px 44px 0px 0px;
}
.page-header{
    padding: 2px;
    padding-left: 40px;
    background: #665847;
    color: #FEFFFD;
    float: left;
    width: 100%;
}
.need_account{
    float: left;
    width: 100%;
    
}
.page-header .logo{
    float: left;
    width: 30%;
    font-size: 18px;
    font-weight: bold;
}
.page-header .logo a{
    text-decoration:  none;
}
.errorMessage{
    padding: 15px 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    float: left;
    width: 93%;
}
.successMessage{
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.page-container h2{
    float: left;
    width: 100%;
    text-align: center;
}
.page-container h2 a{
    text-decoration:  none;
    
}
.data-btn{padding-left:8px}
.data-btn button{
    padding:10px 20px;
    background:#FF9900;
    border:1px solid #3f4549;
    color:#FEFFFD;
    font-weight:bold;
    cursor: pointer;
}
.data-table{padding-left:10px;}
.data-table table{border-collapse:collapse;border:1px solid #ddd;width:96%}
.a-inside{padding:4px 10px;border:1px solid #fff;text-decoration:none;}
.a-inside.edit{background-color:#00CC00;color:#fff;}
.a-inside.delete{background-color:#D23641;color:#fff;}

.loginForm table{
    float: left;
    width: 100%;
}
.loginForm table tr{
    float: left;
    width: 100%;
}
.loginForm .label {
    float: left;
    line-height: 30px;
    font-weight: bold;
    width: 182px;
    text-align: left;
}
.loginForm table tr td input {
    float: left;
}
.loginForm span{
    color: red;
    font-size: 23px;
    margin: 6px 0px 0px 10px;
    float: left;
    line-height: 28px;
}
.logout{
    float: right;
    margin-right: 24px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 9px;
}
.logout a{
    text-decoration: none;
}
input[type="text"],[type="password"],select{
    
    border:1px solid #ddd;
    height:30px;
    width:300px;
}
.cancel{
    background-color:#D23641;
    color:#fff;
    border:1px solid #3f4549;
    color:#fff;
    padding:8px 35px;
    font-weight:bold;
   

}
input[type="submit"]{
    cursor: pointer;
    border:1px solid #3f4549;
    color:#fff;
    padding:8px 35px;
    font-weight:bold;
    background:#6599FF;
}
textarea{ border:1px solid #ddd;width:296px;}
.label{font-weight:bold;}

#footer{
    float: left;
    width: 100%;
}
#footer .copyright{
    padding: 5px;
}
.page_footer{
    padding: 25px 10px;
    background: #665847;
    color: #FEFFFD;
    float: left;
    width: 100%;
}
.footer_right {
    text-align: right;
    margin: 0px 0px 0px -34px;
}
.footer_left {
    padding-top: 4px;
}
.footer_middle {
    text-align: center;
}
.imgLiquid img{
    visibility:hidden;
}
.profilePicture{
    width: 276px;
    height: 245px;
    padding: 8px;
    overflow: hidden;
}
.profilePictureArea{
    width: 100%;
    height: 245px;
    overflow: hidden;
}
.profilePictureArea a{
    position: absolute;
    background-color: #fff;
    margin: -20px 0px 0px 0px;
}
.userProfile{
    float:left;
    width:100%;
    margin-top: 17px;
}
.userProfile .personalData{
    list-style: none;
    line-height: 25px;
    margin: 0;
    padding: 0 0 15px 0;
    border-bottom: 2px solid #eee;
    float: left;
    width: 100%;
}
.userProfile .personalData li{
    font-size: 17px;
    float: left;
    width: 100%;
}
.userProfile .personalData li strong{
    width: 12%;
    float: left;
    font-size: 15px;
    font-weight: bold;
}
.socialMedia{
    float: left;
    width: 100%;
}
.socialMedia h3{
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
}
.privateMessage{
    width: 100%;
    float: left;
}
.privateMessage h3{
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
}
.privateMessage textArea{
    width: 97%;
    height: 119px;
    border-radius: 7px;
    padding: 6px 8px;
    margin-bottom: 7px;
}
.socialMediaData{
    list-style: none;
    line-height: 25px;
    margin: 0;
    padding: 0 0 15px 0;
    border-bottom: 2px solid #eee;
}
.socialMediaData li a{
    line-height: 20px;
}
.socialMediaData li a i{
    font-size: 25px;
    height: 36px;
}
.chatLeftWraper .row, .chatRightWraper .row {
    margin: 0;
    border: 1px solid #ddd;
    border-radius: 7px;
    padding: 5px 9px;
}
.chatRightWraper .row h3, .chatLeftWraper .row h3{
    text-align: center;
    border-bottom: 1px solid #ddd;
}
.chatUserName{
    text-transform: capitalize;
    width: 100%;
    padding: 3px 0px;
    font-size: 15px;
}
.chatUserName a,.chat_me{
    width: inherit;
    text-decoration: none;
    font-size: 17px;
    font-family: 'TitilliumRegular';
    margin: 0 0 15px 0;
    line-height: 22px;
    background: url(/../images/online.png) no-repeat left 3px;
    padding-left: 25px;
}
.chatMessageArea{
    margin: 0px 0 11px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
    height: 300px;
    padding: 10px 13px;
    overflow-y: auto;
}
.chatMessageArea ul{
    margin: 1px;
    width: 100%;
    float: left;
    text-align: left;
    overflow: hidden;
    list-style: none;
    padding: 0;
}
.chatMessageArea ul li{
    margin: 1px;
    line-height: 21px;
}
.chatMessageArea ul li strong{
    margin: 0px 9px 0 0;
}
.chatMessageForm input[type="text"] {
    width: 60%;
    height: 38px;
    padding: 0px 12px;
}
.submit {
    cursor: pointer;
    border: 1px solid #3f4549;
    color: #fff;
    padding: 8px 35px;
    font-weight: bold;
    background: #6599FF;
}
.chatMessageForm a {
    cursor: pointer;
    border: 1px solid #3f4549;
    color: #fff;
    padding: 10px 35px;
    font-weight: bold;
    background: #00CC00;
}
.privateMessageArea{
    border: 1px solid #eee;
    padding: 5px 8px;
    border-radius: 5px;
    margin-top: 17px;
    width: 100%;
    max-height: 560px;
}
.privateMessageArea .row{
    margin: 0;
}
.privateMessageArea .messageSenderName, .privateMessageArea .privateMessages{
    border: 1px solid #eee;
    overflow: hidden;
    max-height: 546px;
    padding: 0;
}

.privateUserMessage{
    padding: 2px 0;
    width: 100%;
    max-height: 560px;
    overflow-y: auto;
}
.privateUserMessage .right{
    text-align: right;
    padding: 2px 7px;
    border-bottom: 1px solid #eee;
}
.privateUserMessage .left{
    text-align: left;
    padding: 2px 7px;
    border-bottom: 1px solid #eee;
}
.privateSingleMessage{
    margin: 1px;
}
.messageSenderName .username{
    width: 100%;
    float: left;
    padding: 0px 9px;
    border-bottom: 1px solid #eee;
    height: 34px;
    line-height: 33px;
}
.messageSenderName .username:hover{
    background-color: #ddd;
    width: 100%;
    float: left;
    padding: 0px 9px;
    border-bottom: 1px solid #eee;
    height: 34px;
    line-height: 33px;
    cursor: pointer;
}
.messageSenderName .a{
    width: 100%;
    border-bottom: 1px solid #eee;
    line-height: 33px;
    float: left;
    margin-left: 10px;
    text-transform: capitalize;
    text-decoration: none;
}
.left .messageTime{
    font-size: 13px;
    float: right;
    color: #bfbfbf;
    display: inline-block;
    vertical-align: middle;
}
.right .messageTime{
    font-size: 13px;
    float: left;
    color: #bfbfbf;
    display: inline-block;
    vertical-align: middle;
}


